<web-app version="6.0"
		 xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description />
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/FrontController</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SubjectController</display-name>
		<servlet-name>SubjectController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.SubjectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectController</servlet-name>
		<url-pattern>/SubjectController</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>CoursesController</display-name>
		<servlet-name>CoursesController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.CoursesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoursesController</servlet-name>
		<url-pattern>/CoursesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>GradesController</display-name>
		<servlet-name>GradesController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.GradesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GradesController</servlet-name>
		<url-pattern>/GradesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>fr.cyu.jee.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
</web-app>