/*
 Mains colors of the web site :
 - Main green : #2E7D32
 - Secondary green : #A5D6A7
 Neutral tones :
 - White : #F9F9F9
 - Light grey : #E0E0E0
 - Darker grey : #424242
 Contrast :
 - Light yellow : #FFEB3B
 - Pale blue : #81D4FA
 */

html {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #000000;
}

/**
* The display of the website
*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 17fr;
    grid-template-areas:
        "logo header"
        "center center"
        "footer footer";
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    grid-area: logo;
    justify-content: center;
    align-items: center;

    height: 100%; /* Ensure they fill the grid cell */
    width: 100%;
}

.header {
    display: flex;
    grid-area: header;

    height: 100%; /* Ensure they fill the grid cell */
    width: 100%;
}

.center-content {
    display: flex;
    grid-area: center;

    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;

    grid-template-areas:
        "options main";
}

.options {
    display: flex;
    grid-area: options;
    flex-direction: column;
    padding: 5px;

    height: 100%; /* Ensure they fill the grid cell */
    width: 15%;

    background-color: darkgrey;
    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-color: #2E7D32;
}

.main {
    display: flex;
    flex-direction: column;
    grid-area: main;

    height: 100%; /* Ensure they fill the grid cell */
    width: 100%;
    padding: 15px;

    background-color: #E0E0E0;
    border-width: 3px 0 3px 0;
    border-style: solid;
    border-color: #2E7D32;
}

.main_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;

    height: 100%; /* Ensure they fill the grid cell */
    width: 100%;
    padding: 15px;

    background-color: #E0E0E0;
    border-width: 3px 0 3px 0;
    border-style: solid;
    border-color: #2E7D32;
}

.footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;

    height: 100%; /* Ensure they fill the grid cell */
    width: 100%;

    background-color: #363637;
    color:white;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #2E7D32;
}

/************************
* Header components *
*************************/
.categories {
    display: flex;
    justify-self: start;
    align-self: end;
}

.categories ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-self: start;
    align-self: start;
    margin : 0;
    padding-left: 15px;

    font-family: "Times New Roman", Times, serif;
    font-size: 15pt;
    list-style: none;
}

.categories ul a{
    text-decoration: none;
    color: #2E7D32;
}

.categories ul a li {
    list-style-type: none;
    text-align: center;

    margin: 1px 1px 0 1px;
    padding: 5px 7vw;

    border-top: 3px;
    border-left: 4px;
    border-right: 4px;
    border-color: #2E7D32;
    border-style: outset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FFEB3B;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.login_button {
    padding: 10px 20px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 5px;

    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.login_button:hover {
    background-color: #1b5e20;
}

.login_status {
    text-align: center;
    font-size: 20px;
    width: 100%;
}


/************************
* Logo and its link *
*************************/
.logo_image {
    width: 40%;
    object-fit: contain;
    display: block;
}

.logo a {
    display: flex;
    justify-content: center;
    align-content: center;

    padding-bottom: 3%;
    padding-top: 3%;
    text-decoration: none;
}

.logo a h1{
    padding: 5px 0 0 5px;
    text-shadow:
            -1px -1px 0 #2E7D32,
            1px -1px 0 #2E7D32,
            -1px 1px 0 #2E7D32,
            1px 1px 0 #2E7D32;
    font-size: 2.3rem;
    color : #A5D6A7;
}

/************************
* Main elements *
*************************/
.login_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.login_form form{
    width: 30%;
    margin-right: 50px;
}

/**
   Buttons & Selectable elements
 */
.selectable-input{
    display: none;
}

.selectable-label{
    width: 80%;
    height: fit-content;
}

.selectable-div {
    border: 2px solid gray;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

.selectable-input:checked + .selectable-div {
    border-color: #005acb;
    background-color: #81D4FA;
    color: #005acb;
}

.form_button{
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
}

.form_button:hover {
    background-color: #1b5e20;
}

.form_input {
    margin-bottom: 1rem;
    text-align: left;
}

.form_input label {
    font-size: 0.9rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

.form_input input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bords arrondis */
    font-size: 1rem;
    background-color: #f9f9f9; /* Fond clair */
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.form_input input:focus {
    border-color: #2e7d32; /* Couleur de focus (vert dans cet exemple) */
    background-color: #fff;
}

.option_button{
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 2px 0 2px 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option_button:hover {
    background-color: #1b5e20;
}

/**
   Radio & Checkboxes
 */

/* Style général pour les groupes */
.radio-group, .checkbox-group {
    border: 3px dashed black;
    display: flex;
    flex-direction: column; /* Organiser les éléments verticalement */
    gap: 5px; /* Espacement entre les options */
    font-size: 16px;
}

/* Style des labels */
.radio-group label, .checkbox-group label {
    display: flex;
    align-items: center; /* Aligner l'input et le texte au centre verticalement */
    cursor: pointer; /* Pointer interactif */
}

/* Style des inputs */
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    margin-right: 10px; /* Espacement entre l'input et le texte */
}

/* Ajouter un effet au survol (optionnel) */
.radio-group label:hover,
.checkbox-group label:hover {
    background-color: #f0f0f0; /* Fond clair au survol */
    border-radius: 5px; /* Bords arrondis */
    padding: 5px;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    body {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "header"
            "aside"
            "main"
            "footer";
    }
}
